<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <div data-i18n="footer.copyright">© {{year}} <a href="https://sql-ag.de/">SQL Projekt AG</a></div>
      <a href="https://sql-ag.de/impressum/" data-i18n="footer.imprint">Impressum</a>
      <a href="https://sql-ag.de/datenschutz/" data-i18n="footer.privacy">Datenschutz</a>
      <a href="https://sql-ag.de/unternehmen/kontakt/" data-i18n="footer.contact">Kontakt</a>
    </div>

    <div id="ai-translation-hint" class="footer-ai-translation-hint" data-i18n ="footer.disclaimer">
    Hinweis: Dieser Inhalt wurde mit Unterstützung künstlicher Intelligenz erstellt und kann Ungenauigkeiten oder Fehler enthalten. Bitte überprüfen Sie kritische Informationen anhand verlässlicher Quellen.
    </div>
  </div>
</footer>